<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    <div class="container">
        <h1>Ваша корзина</h1>
        <div id="cart-items">
            {% if cart %}
                <ul>
                    {% for flight in cart %}
                        <li class="cart-item">
                            {% if flight.origin_city_name %}
                                {{ flight.origin_city_name }}
                            {% endif %}
                            to
                            {% if flight.destination_city_name %}
                                {{ flight.destination_city_name }}
                            {% endif %}
                            {% if flight.departure_time %}
                                - Отправление: {{ flight.departure_time }}
                            {% endif %}
                            {% if flight.arrival_time %}
                                - Прибытие: {{ flight.company }}
                            {% endif %}
                            {% if flight.price %}
                                - Цена: {{ flight.price }} ₽
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Разум чист, корзина пуста</p>
            {% endif %}
        </div>
        <div class="actions">
            <a href="/search" class="button">Продолжите выбор</a>
        </div>
    </div>
</body>
</html>
