<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>

        {% if error %}
            <div style="color: red;">{{ error }}</div>
            <form action="/login" method="get">
                <button type="submit" class="button">Войти</button>
            </form>
        {% endif %}

        <form method="post" action="/sign_up">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <input type="hidden" name="from_city" value="{{ from_city }}">
            <input type="hidden" name="to_city" value="{{ to_city }}">
            <input type="hidden" name="date" value="{{ date }}">
            <input type="hidden" name="telegram_id" value="{{ telegram_id }}">

            <button type="submit" class="button">Зарегистрироваться</button>

        </form>
    </div>
</body>
</html>
