<!DOCTYPE HTML>
<html lang="ru"></html>
<head>
    <meta charset="UTF-8">
    <title>Поиск билетов</title>
</head>
<body>
    <h1>Поиск билетов</h1>
    <form method="post" action="/search">
        <label for="fr">Откуда:</label>
        <select id="fr" name="fr" required>
            <option value="" disabled selected> Выберите пункт отправления></option>
            <option value="Москва">Москва</option>
            <option value="Cанкт-Петербург">Санкт-Петербург</option>
            <option value="Минск">Минск</option>
        </select><br><br>
        <label for="to">Куда:</label>
        <select id="to" name="to" required>
            <option value="" disabled selected> Выберите пункт отправления></option>
            <option value="Москва">Москва</option>
            <option value="Cанкт-Петербург">Санкт-Петербург</option>
            <option value="Минск">Минск</option>
        </select><br><br>
        <label for="date">Дата:</label>
        <input type="date" id="date" name="date" required><br><br>
        <button type="submit">Поиск</button>
    </form>
</body>

